<!--
  Generated template for the RestaurantListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Restaurants</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <button ion-item *ngFor="let rest of restaurants" (click)="onGoToRestaurantDetails(rest.restaurant_id)">
      <ion-thumbnail item-start>
        <img src="https://cbsnews3.cbsistatic.com/hub/i/r/2018/03/07/481a9418-c3c8-492e-8e92-d1e6ec821075/crop/316x284+89+74/resize/270x/47b7fc47127620982695ad69887be491/sonic-burger.jpg">
      </ion-thumbnail>
      <h2>{{rest.title_english}}</h2>
      <p>Location: {{rest.location_english}}</p>


      <li item-end  *ngIf="rest.current_category.toLowerCase()== 'a+'">
        <ion-icon color="secondary" ios="" md="">A+</ion-icon>
      </li>

      <li item-end  *ngIf="rest.current_category.toLowerCase()== 'a'">
        <ion-icon color="secondary" ios="" md="">A</ion-icon>
      </li>

      <li item-end  *ngIf="rest.current_category.toLowerCase()== 'b'">
        <ion-icon color="yellow" ios="" md="">B</ion-icon>
      </li>

      <li item-end  *ngIf="rest.current_category.toLowerCase()== 'c'">
        <ion-icon color="danger" ios="" md="">C</ion-icon>
      </li>

    </button>

    <ion-item *ngIf="!restaurants" text-center>
      <ion-icon color="danger" ios="" md="">No restaurant found!</ion-icon>
    </ion-item>

  </ion-list>

</ion-content>
